---
import InsetImage from '@/components/InsetImage.astro';
import Section from '@/components/Section.astro';
import blockParty from '@/img/2026_block_party.png';
import Layout from '@/layouts/Layout.astro';

const EVENT = {
  title: '2026 Wedge Block Party',
  description:
    'Join us for the annual Wedge Block Party. Fun and games for all! When: Saturday, August 15, 2026, 3:30PM - 7:00PM. Where: South Sheridan between 5th and 6th.',
};
---

<Layout
  title={EVENT.title}
  description={EVENT.description}
  image={{
    src: blockParty.src,
    width: blockParty.width,
    height: blockParty.height,
    alt: EVENT.description,
  }}
  meta={{
    "twitter:label1": "Date",
    "twitter:data1": "August 15, 2026",
    "twitter:label2": "Time",
    "twitter:data2": "3:30 PM - 7:00 PM",
  }}
>
  <Section>
    <h2 class="visually-hidden">August 15, 2026 - Tacoma Wedge Block Party</h2>
    <InsetImage src={blockParty} alt={EVENT.description} />
  </Section>
</Layout>
