@import url('normalize.css');
@import url('@picocss/pico');

body {
  padding: 1em 2em;
}

header,
main,
footer {
  max-width: 40em;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul {
  li + li {
    margin-top: 0.5em;
  }
}
