@import url('normalize.css');
@import url('@radix-ui/themes/styles.css');

body {
  padding: 0 2em;
}

header,
main,
footer {
  max-width: 40em;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul {
  padding-inline-start: 1.5em;

  li + li {
    margin-top: 0.75em;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
