.Root {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100vw;
  justify-content: center;
}

.MenuList {
  display: flex;
  justify-content: center;
  gap: var(--space-4);
  list-style: none;
}
